a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  .main-content {
    padding-top: 120px;
  }
  